services:
  absmetadata:
    build: .
    container_name: ghcr.io/vito0912/absMeta
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - HARDCOVER_TOKEN=${HARDCOVER_TOKEN}
      # See https://lazylibrarian.gitlab.io/config_importing/
      - GOODREADS_API_KEY=${GOODREADS_API_KEY}
    volumes:
      - ./data:/app/data
